body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
    font-family: Arial, sans-serif;
  }
  
  /* THEMES */
body.light {
  background: pink;
  color: #333;
}

body.dark {
  background: #121212;
  color: #f5f5f5;
}

  .card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 300px;
  }
  
  body.dark .card {
    background: #1f1f1f;
  }

  h1 {
    margin-bottom: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #yesBtn {
    background: #ff4d6d;
    color: white;
  }
  
  #noBtn {
    background: #aaa;
    color: white;
  }
  
  .result img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
  }
  
  .hidden {
    display: none;
  }
  .countdown {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ff4d6d;
  }
     .loveLetter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
  }

  .loveLetter.show {
    opacity: 1;
    visibility: visible;
  }
  
  body.dark .loveLetter {
    background: rgba(0, 0, 0, 0.4);
  }

  .theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  }